.container
{
    /* center contents */
    margin: auto;
    text-align: center;
    /*overflow: hidden;*/
    width: 80%;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

/*General*/

/*Kleuren:*/

/*Groen: #cccc33*/
/*Rood: #cc3333*/

h1, h2, h3, h4, p{
    font-family: Tahoma, Geneva, sans-serif;
}

a{
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
}

a:hover{
    color:black;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body{
    margin:0;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;

    background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

main{
    padding-top: 65px;
    margin-bottom:70px;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

/*Header*/

.navbar{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #FFF;
    position:fixed;
    width:100%;
    height: 65px;
    top: 0;
    z-index:1;
    box-shadow: 0 0 4px rgba(0,0,0,0.4)
}

.dropdownul{
    padding:10px 0px;

}


header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    height: 100%;
}



header li{
    float: left;
    display: inline;
    height: 100%;
}

header nav{
    float: right;
    text-align: right;
    height: 100%;
    padding: 0px 10% 0 0;
    position: relative;
}

.accicon:hover{
    opacity:0.7;
}

.item:hover{
    background-color: #f1f1f1;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.navbar_left{
    float: left;
    text-align: left;
    padding: 0px 0 0 10%;
    position: relative;
    display:inline-flex;
    height:100%;

}

.bar_item{
    padding: 0px 16px;
    height: 100%;
    float:left;
    width:auto;
    border:none;
    display: flex;
    outline:0;
    align-items: center;
}

/*.bar_item:hover{*/
/*    color: white;*/
/*    -webkit-transition: all 0.2s;*/
/*    -o-transition: all 0.2s;*/
/*    -moz-transition: all 0.2s;*/
/*}*/

.dropdown{
    height:100%;
     position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: fixed;
  margin-top: 64px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2;
    -moz-transition: all 0.2s;


}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn {
background-color:white;
padding: 0px 16px;
    height: 100%;
    float:left;
    width:auto;
    border:none;
    display: flex;
    outline:0;
    align-items: center;

}

.homepage_images {
    display: -webkit-inline-box;
}

.dropdown_content a:hover {background-color: #ddd; z-index:1;}

.dropdown:hover .dropdown_content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*Filters*/

.filterform{
    float:left;
    width:25%;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 1px 2px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

.filter{
    text-align: left !important;
}

button
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #cccc33;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
	border:none;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
}

button:hover{
	background: #8e8e23;
}

.form-group{
    padding-top:inherit;
}

fieldset{
    max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border:none;
	border-radius: 8px;
}
/*Footer*/

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e3e7ea;
  color: white;
  text-align: left;
  border-top: double;
  float: left;
}

footer p{
    color:black;
    opacity:0.7;
    padding: 10px 0px 0px;
}

.footer_left{
    float: left;
    text-align: left;
    position: absolute;

}

.footer_right{

    float: right;
    text-align: right;
    position: relative;
}

.tekst{
    width: 250px;
}

.red{
    background-color: #ff6666;
}

#scroll-content > div {
      background: #c0c0c0;
      height: 200px;
      margin-bottom: 80px;
}

#wrapper {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.collapsible {
  background-color: lightgrey;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}