{% extends "layout.html" %}

{% block title %}
    Balanced recipes
{% endblock %}

{% block main %}
    <div>
        {% for info in verzameling %}
            <div style=float:left>
                <div><img src="{{ info['image'] }}"></div>
                <div>{{ info['label'] }}</div>
            </div>
            <!--<div style=float:right>-->
            <!--    <div><img src="https://www.edamam.com/web-img/9fb/9fbdf8a084eb5fbbf8e116867a99e8cc.jpg"></div>-->
            <!--    <div>Crispy Cheese Tacos Recipe</div>-->
            <!--</div>-->
            <!--<div style=float:middle>-->
            <!--    <div><img src="https://www.edamam.com/web-img/9fb/9fbdf8a084eb5fbbf8e116867a99e8cc.jpg"></div>-->
            <!--    <div>Crispy Cheese</div>-->
            <!--</div>-->
        {% endfor %}
    </div>
{% endblock %}