{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="container">
  <h2>Mindful Cooking</h2>
  <p>Click on the images to find recipes for different diets.</p>
  <p>Add recipes to your favorites.</p>
  <p>See the most popular recipes and who favor them.</p>
  <div class="homepage_images">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/templates/lowFat.html" target="_blank">
          <img src="https://media-public.canva.com/MABwaZOR_mc/1/thumbnail.jpg" alt="Low fat" style="width:100%">
          <div class="caption">
            <p>Low fat.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/templates/lowCarb.html" target="_blank">
          <img src="https://media-public.canva.com/MABwaRmukZ0/1/thumbnail.jpg" alt="Low carb" style="width:100%">
          <div class="caption">
            <p>Low carb.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/templates/highProtein.htmlg" target="_blank">
          <img src="https://media-public.canva.com/MABwhrn1KZE/1/thumbnail.jpg" alt="High protein" style="width:100%">
          <div class="caption">
            <p>High protein.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/templates/balanced.html" target="_blank">
          <img src="https://media-public.canva.com/MABwaQqo-Ns/1/thumbnail.jpg" alt="Balanced" style="width:100%">
          <div class="caption">
            <p>Balanced.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}