{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<!--<div class="container">-->
<!--  <h2>Mindful Cooking</h2>-->
<!--  <p>Click on the images to find recipes for different diets.</p>-->
<!--  <p>Add recipes to your favorites.</p>-->
<!--  <p>See the most popular recipes and who favor them.</p>-->
<!--  <div class="homepage_images">-->
<!--    <div class="col-md-3">-->
<!--      <div class="thumbnail">-->
<!--        <a href="/lowFat">-->
<!--          <img src="https://media-public.canva.com/MABwaZOR_mc/1/thumbnail.jpg" alt="Low fat" style="width:100%">-->
<!--          <div class="caption">-->
<!--            <p>Low fat</p>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--      <div class="thumbnail">-->
<!--        <a href="lowCarb">-->
<!--          <img src="https://media-public.canva.com/MABwaRmukZ0/1/thumbnail.jpg" alt="Low carb" style="width:100%">-->
<!--          <div class="caption">-->
<!--            <p>Low carb</p>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--      <div class="thumbnail">-->
<!--        <a href="highProtein">-->
<!--          <img src="https://media-public.canva.com/MABwhrn1KZE/1/thumbnail.jpg" alt="High protein" style="width:100%">-->
<!--          <div class="caption">-->
<!--            <p>High protein</p>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--      <div class="thumbnail">-->
<!--        <a href="balanced">-->
<!--          <img src="https://media-public.canva.com/MABwaQqo-Ns/1/thumbnail.jpg" alt="Balanced" style="width:100%">-->
<!--          <div class="caption">-->
<!--            <p>Balanced</p>-->
<!--          </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="row" style="width:100%">
  <div class="col-md-3" style="height:85vh;">
      <div class="imagebox" style="height:100%; width:100%">
          <a href="/lowFat">
            <img src="{{ url_for('static', filename='images/lowfat.png') }}"  class="category-banner img-responsive" style="height:100%;width:100%">
            <span class="imagebox-desc">Low Fat</span>
          </a>
      </div>
  </div>
  <div class="col-md-3" style="height:85vh;">
      <div class="imagebox" style="height:100%; width:100%">
          <a href="lowCarb">
            <img src="{{ url_for('static', filename='images/lowcarb.png') }}"  class="category-banner img-responsive" style="height:100%;width:100%">
            <span class="imagebox-desc">Low Carb</span>
          </a>
      </div>
  </div>
  <div class="col-md-3" style="height:85vh;">
      <div class="imagebox" style="height:100%; width:100%">
          <a href="highProtein">
            <img src="{{ url_for('static', filename='images/highprotein.png') }}"  class="category-banner img-responsive" style="height:100%;width:100%">
            <span class="imagebox-desc">High Protein</span>
          </a>
      </div>
  </div>
  <div class="col-md-3" style="height:85vh;">
      <div class="imagebox" style="height:100%; width:100%">
          <a href="balanced">
            <img src="{{ url_for('static', filename='images/balanced.png') }}"  class="category-banner img-responsive" style="height:100%;width:100%">
            <span class="imagebox-desc">Balanced</span>
          </a>
      </div>
  </div>
</div>
{% endblock %}