<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">

    <head>

        <!--jQuery-->
        <script src="jquery.js"></script>
        <!--Filter-->
        <script>
          $(function(){
            var includes = $('[data-include]');
            jQuery.each(includes, function(){
              var file = 'templates/' + $(this).data('include') + '.html';
              $(this).load(file);
            });
          });
        </script>

        <!--Favicon-->
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/Favicon.png') }}"/>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <!--Bootstrap style-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>Mindful Cooking: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <header>

            <div class="navbar container">
                <div class="navbar_left">
                    <a href="{{ url_for('index') }}"><img style = 'padding-top:5px; max-height: 50px; margin-right:16px;'src="{{ url_for('static', filename='images/logo.png') }}"></a>


                    <ul>
                        <li>
                            <div class="dropdown">
                            <a class='bar_item'>Categories &#9660;</a>

                                <div class='dropdown_content'>
                                    <a class='dropdownul' href="lowFat">Low Fat</a>

                                    <a class='dropdownul' href="lowCarb">Low Carb</a>

                                    <a class='dropdownul' href="highProtein">High Protein</a>

                                    <a class='dropdownul' href="balanced">Balanced</a>
                                </div>
                            </div>
                        </li>
                    </ul>



                </div>
                <nav>
                {% if session.user_id %}
                    <ul>
                        <li class='accicon'><a class ='bar_item' href="{{ url_for('personal_profile') }}"><img style = 'max-height: 40px;'src="{{ url_for('static', filename='images/account_icon.png') }}"></a></li>
                        <li class='item'><a class ='bar_item' href="{{ url_for('logout') }}">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li class='item'><a class ='bar_item' href="{{ url_for('register') }}">Register</a></li>
                        <li class='item'><a class ='bar_item' href="{{ url_for('login') }}">Log In</a></li>
                    </ul>
                {% endif %}
                </nav>
            </div>

        </header>


        <div class="container main">

        <!--    {% if get_flashed_messages() %}-->
        <!--        <header>-->
        <!--            <div class="alert alert-info" role="alert">-->
        <!--                {{ get_flashed_messages() | join(" ") }}-->
        <!--            </div>-->
        <!--        </header>-->
        <!--    {% endif %}-->

            <main>
                {% block main %}{% endblock %}
            </main>

        </div>

        <footer>
            <div class='container'>
                <div class='footer_left'>
                    <p>
                    Mindful Cooking © 2019
                    </p>
                </div>
                <div class='footer_right'>
                    <p>
                    UvA
                    </p>
                </div>
            </div>
        </footer>
    </body>

</html>
