{% extends "layout.html" %}

{% block title %}
    Low-carb recipes
{% endblock %}

{% block main %}
    <div>
        <!--Filter-->
        <!--<form class="filterform">-->
        <!--    <h4>-->
        <!--        Allergens-->
        <!--    </h4>-->
        <!--    <input type="checkbox" id="allergens1" value="Alcohol">-->
        <!--    <label for="allergens1"  class='filter'>Alcohol</label>-->

        <!--    <input type="checkbox" id="allergens2" value="Diary">-->
        <!--    <label for="allergens2"  class='filter'>Diary</label>-->

        <!--    <input type="checkbox" id="allergens3" value="Eggs">-->
        <!--    <label for="allergens3"  class='filter'>Eggs</label>-->

        <!--    <input type="checkbox" id="allergens4" value="Fish">-->
        <!--    <label for="allergens4"  class='filter'>Fish</label>-->

        <!--    <input type="checkbox" id="allergens5" value="Gluten">-->
        <!--    <label for="allergens5"  class='filter'>Gluten</label>-->

        <!--    <input type="checkbox" id="allergens6" value="Lupine">-->
        <!--    <label for="allergens6"  class='filter'>Lupine</label>-->

        <!--    <input type="checkbox" id="allergens7" value="Mustard">-->
        <!--    <label for="allergens7"  class='filter'>Mustard</label>-->

        <!--    <input type="checkbox" id="allergens8" value="Oil">-->
        <!--    <label for="allergens8"  class='filter'>Oil</label>-->

        <!--    <input type="checkbox" id="allergens9" value="Sugar">-->
        <!--    <label for="allergens9"  class='filter'>Sugar</label>-->

        <!--    <input type="checkbox" id="allergens10" value="Peanuts">-->
        <!--    <label for="allergens10"  class='filter'>Peanuts</label>-->

        <!--    <input type="checkbox" id="allergens11" value="Pork">-->
        <!--    <label for="allergens11"  class='filter'>Pork</label>-->

        <!--    <input type="checkbox" id="allergens12" value="Red meat">-->
        <!--    <label for="allergens12"  class='filter'>Red meat</label>-->

        <!--    <input type="checkbox" id="allergens13" value="Sesame">-->
        <!--    <label for="allergens13"  class='filter'>Sesame</label>-->

        <!--    <input type="checkbox" id="allergens14" value="Shellfish">-->
        <!--    <label for="allergens14"  class='filter'>Shellfish</label>-->

        <!--    <input type="checkbox" id="allergens15" value="Soy">-->
        <!--    <label for="allergens15"  class='filter'>Soy</label>-->

        <!--    <input type="checkbox" id="allergens16" value="Tree nuts">-->
        <!--    <label for="allergens16"  class='filter'>Tree nuts</label>-->

        <!--    <input type="checkbox" id="allergens17" value="Wheat">-->
        <!--    <label for="allergens17"  class='filter'>Wheat</label>-->

        <!--    <h4>-->
        <!--        Diet-->
        <!--    </h4>-->

        <!--    <input type="checkbox" id="diet1" value="Pescatarian">-->
        <!--    <label for="diet1"  class='filter'>Pescatarian</label>-->

        <!--    <input type="checkbox" id="diet2" value="Vegan">-->
        <!--    <label for="diet2"  class='filter'>Vegan</label>-->

        <!--    <input type="checkbox" id="diet3" value="Vegetarian">-->
        <!--    <label for="diet3"  class='filter'>Vegetarian</label>-->

        <!--    <h4>-->
        <!--        Ingredients-->
        <!--    </h4>-->
        <!--    <p>-->
        <!--        Select the number of ingredients:-->
        <!--    </p>-->
        <!--    <h4>-->
        <!--        Time-->
        <!--    </h4>-->
        <!--    <p>-->
        <!--        Select the amount of time spent cooking:-->
        <!--    </p>-->
        <!--</form>-->

        {% for info in verzameling %}
            <div style="float:left">
                <a href="recept?id={{ info['id'] }}">
                    <div><img src="{{ info['image'] }}" height=220px width=300px alt="recept"></div>
                    <div class="tekst" >{{ info['label'] }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}