{% extends "layout.html" %}

{% block title %}
    Low carb recipes
{% endblock %}

{% block main %}
<div class="container">

    <div class="row">
        <h1 class="border">Low Carb Recipes</h1>
    </div>
    <div class ="row" >
        <aside class="col-sm-3 sidenav" style="height: 1500px">
            <div data-include="filter">

            </div>
            <p>
                Kip Yo
            </p>
        </aside>
        <div style="margin-left:25%">

        {% for info in verzameling %}

                <aside class="col-sm-4" style="text-align:left">
                    <a href="recept?id={{ info['id'] }}">
                        <div class="thumbnail"><img src="{{ info['image'] }}" style="padding-bottom:10px" max-height=220px max-width=300px alt="recept">
                        {{ info['label'] }}</div>
                    </a>
                </aside>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}