{% extends "layout.html" %}

{% block title %}
    Low-fat recipes
{% endblock %}

{% block main %}
    <div>
        <div id="wrapper">
            <div id="scroll-content">
                {% for info in verzameling %}
                    <div class="fields" style=float:left>
                        <a href="recept?id={{ info['id'] }}">
                            <div><img src="{{ info['image'] }}" height=220px width=300px alt="recept"></div>
                            <div class="tekst" >{{ info['label'] }}</div>
                        </a>
                    </div>
                {% endfor %}
                <script src = "{{ url_for('static', filename='scroll.js') }}"></script>
            </div>
            <button type="button" onclick="myFunction()">Show more</button>
        </div>
    </div>
{% endblock %}