{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div style= "text-align:center" >
        <h1> Profile</h1>
        <p>Username: {{ username }}</p>

    </div>
    <div style = "text-align:center">
        <h1>Favourite Recipes</h1>
        <p> {{ username }} has {{ ammount }} favourite recipes. </p>
    </div>
    {% for info in verzameling %}
        <div><img src="{{ info['image'] }}" height=220px width=300px alt="image"></div>
        <div>
            <a href="recept?id={{ info.id }}">{{ info.label }}</p>
        </div>
    {% endfor %}
{% endblock %}
