{% extends "layout.html" %}

{% block title %}
    Personal Profile
{% endblock %}

{% block main %}
    <div style= "text-align:center" >
        <h1>My Profile</h1>
        <p>Username: {{ username }}</p>
        </div>
            <a href="{{ url_for('settings') }}">Settings</a>
        </div>
    </div>
    <div style = "text-align:center">
        <h1>Favourite Recipes</h1>
        <p> You have {{ ammount }} favourite recipes. </p>
    </div>
    <div>
        <p>{{ favourites }}</p>
    </div>
{% endblock %}
