{% extends "layout.html" %}

{% block title %}
    Personal Profile
{% endblock %}

{% block main %}
    <div style= "text-align:center" >
        <h1>My Profile</h1>
        <p>Username: {{ username }}</p>
        </div>
            <a href="{{ url_for('settings') }}"><i>Change password</i></a>
        </div>
    </div>
    <div style = "text-align:center">
        <h1>Favourite Recipes</h1>
        <p> You have {{ ammount }} favourite recipes. </p>
    </div>
   {% for info in verzameling %}
    <div stype="text-align:center">
    <a href="recept?id={{ info.id }}">
        <div><img src="{{ info['image'] }}" height=220px width=300px alt="image"></div>
        <div>
            <p>{{ info.label }}</p>
        </div>
    <a>
    </div>
    {% endfor %}
{% endblock %}
