{% extends "layout.html" %}

{% block title %}
    Recipe
{% endblock %}

{% block main %}
     <form action="{{ url_for('recept') }}" method="post">
        <div>
            <titel>{{ info.label }}</titel>
            <div>
                {% if session.user_id %}
                    <input type="hidden" id="recipeID" name="recipeID" value="{{ info.id }}">
                    {% if isFavorite %}
                        <fav>
                            <button type="submit" class=red id="favorite">Favo</button>
                        </fav>
                    {% else %}
                        <fav>
                            <button type="submit" id="favorite">Favorite</button>
                        </fav>
                    {% endif %}

                    <button type="button" class="collapsible">Click to see wich users added this recipe to their favorite.</button>
                    <div class="content">
                      <div>
                          {% for gebruiker in gebruikers %}
                              <div>
                                  <a href="other_profile?id={{ gebruiker.id }}">
                                  {{ gebruiker.username }}
                              </div>
                          {% endfor %}
                      </div>
                    </div>

                    <script>
                    let coll = document.getElementsByClassName("collapsible");

                    for (let i = 0; i < coll.length; i++) {
                      coll[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.display === "block") {
                          content.style.display = "none";
                        } else {
                          content.style.display = "block";
                        }
                      });
                    }
                    </script>

                {% else %}
                    <ref>
                        <a href="login">Log in</a> or <a href="register">register</a> to save the recipe as favorite.
                    </ref>
                {% endif %}
            </div>

            <div><img src="{{ info['image'] }}" height=400px width=530px alt="recept"></div>
            <p>
                Calories: {{ info.calories }}
            </p>
            <p>
                <div>Ingredients:</div>
                {% for ingredient in ingredienten %}
                    <div>{{ ingredient.tekst }}</div>
                {% endfor %}
            </p>
            <p>
                <div>Cooking methode</div>
                <div>For the cooking methode, please follow <a href="{{ info.url }}" target="_blank"> this</a> link.</div>
            </p>
        </div>
    </form>
{% endblock %}