{% extends "layout.html" %}

{% block title %}
    Recipe
{% endblock %}

{% block main %}
     <form action="{{ url_for('recept') }}" method="post">
        <div>
            <h1 class="border">{{ info.label }}</h1>
            <div>
                {% if session.user_id %}
                    <input type="hidden" id="recipeID" name="recipeID" value="{{ info.id }}">
                    {% if isFavorite %}
                        <fav>
                            <button type="submit" class=red id="favorite">Remove from favorites</button>
                        </fav>
                    {% else %}
                        <fav>
                            <button type="submit" id="favorite">Add to favorites</button>
                        </fav>
                    {% endif %}

                    <div>
                        <div>{{ amount }} users added this recipe to their favorites!</div>
                        <div>Visit someones profile to see their favorite recipes.</div>
                        {% for gebruiker in gebruikers %}
                        <div>
                            <a href="other_profile?id={{ gebruiker.id }}">{{ gebruiker.username }}</a>
                        </div>
                        {% endfor %}
                    </div>

                {% else %}
                    <div>
                        <a href="login" class="link">Log in</a> or <a href="register" class="link">register</a> to save the recipe as favorite.
                    </div>
                {% endif %}
            </div>

            <div><img src="{{ info.image }}" height=400px width=530px alt="Can't load picture"></div>
            <p>
                <B>Calories:</B> {{ info.calories }}
            </p>
            <p>
                <div><B>Ingredients:</B></div>
                {% for ingredient in ingredienten %}
                    <div>{{ ingredient.tekst }}</div>
                {% endfor %}
            </p>
            <p>
                <div><B>Cooking methode</B></div>
                <div>For the cooking method, please follow <a href="{{ info.url }}" target="_blank" class="link"> this</a> link. The recipe will be opened in a new tab.</div>
            </p>
        </div>
    </form>
{% endblock %}