{% extends "layout.html" %}

{% block title %}
    Recipe
{% endblock %}

{% block main %}
        <div class ="container">
            <form action="{{ url_for('recept') }}" method="post">


            <div class="recipeinfo col-md-6">
                <h1>{{ info.label }}</h1>
                <br><br>
                <ul>
                    <li class="row">
                        <p class="col-md-3">
                            <B>Calories:</B>
                        </p>
                        <p class="col-md-9">
                            {{ info.calories }} J
                        </p>
                    </li>
                    <hr>
                    <li class="row">
                        <p class="col-md-3">
                            <B>Ingredients:</B>
                        </p>
                        <p class="col-md-9">
                            {% for ingredient in ingredienten %}
                            - {{ ingredient.tekst }}
                            <br>
                            {% endfor %}
                        </p>
                    </li>
                    <hr>
                    <li class="row">
                        <p class="col-md-3">
                            <B>Cooking method:</B>
                        </p>
                        <p class="col-md-9">
                            For the cooking method, please follow <a href="{{ info.url }}" target="_blank" class="link"> this</a> link. The recipe will be opened in a new tab.
                        </p>
                    </li>

                </ul>
            </div>
            <div class="recipe col-md-6">
                <img src="{{ info.image }}" alt="Can't load picture" style="padding:27px 0px">
                <div class ="row">
                <center>
                {% if session.user_id %}
                    <input type="hidden" id="recipeID" name="recipeID" value="{{ info.id }}">
                    {% if isFavorite %}
                        <fav>
                            <button  type="submit" id="favorite" class="btn"><i class="fa fa-heart"style="color:red;padding-right:10px;"></i>Remove from favorites</button>
                        </fav>
                    {% else %}
                        <fav>
                            <button  type="submit" id="favorite" class="btn"><i class="fa fa-heart"style="padding-right:10px;"></i>Add to favorites</button>
                        </fav>
                    {% endif %}

                    <h4><B>{{ info.popularity }} users added this recipe to their favorites!</B></h4>
                    <div><I>Click on a user to visit their profile and see their favorite recipes.</I></div>
                    {% for gebruiker in gebruikers %}
                    <div>
                        <a href="other_profile?id={{ gebruiker.id }}">{{ gebruiker.username }}</a>
                    </div>
                    {% endfor %}

                {% else %}
                    <div class="col-md-12">
                        <a href="login" class="link">Log in</a> or <a href="register" class="link">register</a> to save the recipe as favorite  and discover other users favorite recipes!
                    </div>
                {% endif %}
                </center>
                </div>
            </div>
        </form>
    </div>
{% endblock %}